EXPO_PUBLIC_AUTH_PROVIDER=appwrite
EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_AWS_REGION=
EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
EXPO_PUBLIC_POSTHOG_API_KEY=phc_xxxxxxxxxxxxxxxxx
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
