EXPO_PUBLIC_AUTH_PROVIDER=cognito
EXPO_PUBLIC_API_BASE_URL=https://zw2czwhv11.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_AWS_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_Zuo1aZ4vp
EXPO_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=6mlancgqdsb265rk5bj2jir6ur
EXPO_PUBLIC_POSTHOG_API_KEY=phc_xxxxxxxxxxxxxxxxx
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
